{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'images/img_1.png' %}" style="max-height: 450px; width: 100%; object-fit: cover;" class="img-fluid rounded shadow" alt="{{ car.model }}">
    </div>
    <div class="col-md-6">
          <h1>{{ car.brand.name }} {{ car.model }}</h1>
          <h2>{{ car.price }} ₸</h2>
        <ul class="list-group">
          <li class="list-group-item">Год выпуска: {{ car.year }}</li>
          <li class="list-group-item">Коробка передач: {{ car.transmission }}</li>
          <li class="list-group-item">Тип топлива: {{ car.fuel }}</li>
          <li class="list-group-item">Пробег: {{ car.mileage }}</li>
          <li class="list-group-item">Город: {{ car.city }}</li>
          <li class="list-group-item">Объем двигателя: {{ car.engine }}</li>
        </ul>
          <h3>Описание</h3>
          <p>{{ car.description }}</p>

    </div>
  </div>
</div>

{% endblock %}